{
  "rules": {
    "schools": {
      ".read": "allow read; // All users can read the list of schools",
      ".write": "allow write: if false; // No one can write to the schools collection"
    },
    "users": {
      "$uid": {
        ".read": "allow read: if request.auth.uid == $uid;",
        ".write": "allow write: if request.auth.uid == $uid;"
      }
    }
  }
}